apiVersion: v1
kind: Service
metadata:
  name: argocd-metrics-server
  labels:
    app.kubernetes.io/name: argocd-metrics-server
    app.kubernetes.io/part-of: argocd
spec:
  ports:
  - name: metrics
    port: 9003
    protocol: TCP
    targetPort: 9003
  selector:
    app: argocd-metrics-server
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: argocd-metrics-server
  labels:
    app.kubernetes.io/name: argocd-metrics-server
    app.kubernetes.io/part-of: argocd
    app.kubernetes.io/component: metrics-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: argocd-metrics-server
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: argocd-metrics-server
    spec:
      serviceAccountName: argocd-server
      containers:
      - name: argocd-metrics-server
        image: quay.io/argoprojlabs/argocd-extension-metrics:v1.0.3
        imagePullPolicy: IfNotPresent
        args:
        - '-enableTLS=false'
        ports:
        - containerPort: 9003
          name: metrics
          protocol: TCP
        volumeMounts:
        - name: config-volume
          mountPath: /app/config.json
          subPath: config.json
        resources:
          requests:
            cpu: 100m
            memory: 100Mi
          limits:
            cpu: 200m
            memory: 200Mi
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
          readOnlyRootFilesystem: true
          runAsNonRoot: true
          runAsUser: 999
      volumes:
      - name: config-volume
        configMap:
          name: argocd-metrics-server-configmap
      securityContext:
        runAsNonRoot: true
        runAsUser: 999
        fsGroup: 999
        seccompProfile:
          type: RuntimeDefault