apiVersion: v1
kind: Service
metadata:
  name: argocd-metrics-server
  labels:
    app.kubernetes.io/name: argocd-metrics-server
    app.kubernetes.io/part-of: argocd
spec:
  ports:
  - name: http
    port: 9003
    protocol: TCP
    targetPort: 9003
  selector:
    app.kubernetes.io/name: argocd-metrics-server
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: argocd-metrics-server
  labels:
    app.kubernetes.io/name: argocd-metrics-server
    app.kubernetes.io/part-of: argocd
    app.kubernetes.io/component: metrics-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: argocd-metrics-server
  template:
    metadata:
      labels:
        app.kubernetes.io/name: argocd-metrics-server
    spec:
      serviceAccountName: argocd-server
      containers:
      - name: argocd-metrics-server
        image: quay.io/argoprojlabs/argocd-extension-metrics:v1.0.3
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 9003
          name: http
          protocol: TCP
        volumeMounts:
        - name: config
          mountPath: /etc/config
        resources:
          limits:
            cpu: 100m
            memory: 128Mi
          requests:
            cpu: 50m
            memory: 64Mi
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
          readOnlyRootFilesystem: true
          runAsNonRoot: true
          runAsUser: 999
      volumes:
      - name: config
        configMap:
          name: argocd-metrics-server
      securityContext:
        runAsNonRoot: true
        runAsUser: 999
        fsGroup: 999
        seccompProfile:
          type: RuntimeDefault