apiVersion: v1
kind: Service
metadata:
  name: argocd-metrics-server
  labels:
    app: argocd-metrics-server
spec:
  ports:
  - name: http
    port: 9003
    protocol: TCP
    targetPort: 9003
  selector:
    app: argocd-metrics-server
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: argocd-metrics-server
  labels:
    app: argocd-metrics-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: argocd-metrics-server
  template:
    metadata:
      labels:
        app: argocd-metrics-server
    spec:
      containers:
      - name: argocd-metrics-server
        image: quay.io/argoprojlabs/argocd-extension-metrics:v1.0.3
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 9003
          name: http
          protocol: TCP
        env:
        - name: PROMETHEUS_URL
          valueFrom:
            configMapKeyRef:
              name: argocd-metrics-server-configmap
              key: prometheus.url
        volumeMounts:
        - name: config
          mountPath: /etc/argocd-metrics-server/
        resources:
          limits:
            cpu: 100m
            memory: 128Mi
          requests:
            cpu: 50m
            memory: 64Mi
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
          readOnlyRootFilesystem: true
          runAsNonRoot: true
          runAsUser: 1000
      volumes:
      - name: config
        configMap:
          name: argocd-metrics-server-configmap
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        fsGroup: 1000
        seccompProfile:
          type: RuntimeDefault